<div class="newsletter-opt-in newsletter-homepage newsletter-opt-in-module" id="newsletter-opt-in">
    <div class="clearfix"></div>
    <ul class="parallax pckg-parallax">
        <li class="layer2" data-depth="0.07"><img src="/img/homepage-newsletter-parallex/last.jpg" ></li>
        <li class="layer2" data-depth="0.13"><img src="/img/homepage-newsletter-parallex/middle.png" ></li>
        <li class="layer2" data-depth="0.21"><img src="/img/homepage-newsletter-parallex/first.png" ></li>
    </ul>
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-container">
        <div class="form-inner-container">
            <h2>{{ __('heading_e-news') }}</h2>

            <div class="nl-intro">
                {{ __('text_e-news_index') }}
            </div>

            <div class="form-newsletter">
                {{ enewsForm | raw }}
                <div class="alert alert-success">
                    {{ __('frontend.news.signin_success') }}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>